language: node_js
node_js:
  - "8.10.0"
script:
  - npm cache verify
  - ./node_modules/.bin/lerna exec -- npm cache verify
  - ./node_modules/.bin/lerna bootstrap --hoist
  - npm run build
  - npm run lint
