body {
  font-family: sans-serif;
  font-size: 1.8em;
  padding: 1em;
  background: #12312e;
}

.public-DraftEditor-content {
  padding: 2em;
  border-radius: 5px;
  color: #fff;
  border: #555;
  background: #244a46;
}
