body {
  margin: 0;
  padding: 0;
  font-size: 1.8em;
  font-family: sans-serif;
}

.public-DraftEditor-content {
  padding: 2em;
  height: 100%;
}

.toolbar {
  border-radius: 5px;
  overflow: hidden;
  padding: 0;
  display: flex;
}

.toolbar__button {
  border: none;
  margin: 0;
  cursor: pointer;
  padding: .5em 1em;
  font-size: 14px;
  background: #333;
  color: #fff;
}

.toolbar__button:last-child {
  border-right: none;
}

.toolbar__button--active {
  background: #000;
  color: #fff;
}

.container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}
